{% set dovecot = salt['grains.filter_by']({
    'Debian': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/ssl/private',
            'ssl_keys_dir': '/etc/ssl/private',
           },
        'packages': ['dovecot-core','dovecot-imapd'],
        'root_group': 'root',
    },
    'Gentoo': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/ssl/private',
            'ssl_keys_dir': '/etc/ssl/private',
           },
        'packages': ['net-mail/dovecot'],
        'root_group': 'root',
    },
    'Arch': {
        'config': {
            'filename': 'dovecot',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            'ssl_certs': {},            
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/ssl/private',
            'ssl_keys_dir': '/etc/ssl/private',

            },
        'packages': ['dovecot'],
        'root_group': 'root',
    },
    'RedHat': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/pki/dovecot/certs',
            'ssl_keys_dir': '/etc/pki/dovecot/private',
            },
        'packages': ['dovecot','dovecot-pigeonhole'],
        'root_group': 'root',
    },
    'FreeBSD': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/usr/local/etc/ssl/certs',
            'ssl_keys_dir': '/usr/local/etc/ssl/private',
           },
        'packages': ['dovecot'],
        'root_group': 'wheel',
    },
    'default': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/ssl/private',
            'ssl_keys_dir': '/etc/ssl/private',
           },
        'packages': ['dovecot-core','dovecot-imapd'],
        'root_group': 'root',
    },
}, merge=salt['pillar.get']('dovecot:lookup')) %}
