{% set dovecot = salt['grains.filter_by']({
    'Debian': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            },
        'packages': ['dovecot-core','dovecot-imapd'],
    },
    'Gentoo': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            },
        'packages': ['net-mail/dovecot'],
    },
    'Arch': {
        'config': {
            'filename': 'dovecot',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            },
        'packages': ['dovecot'],
    },
    'RedHat': {
        'config': {
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'conf': {},
            },
         'packages': ['dovecot','dovecot-pigeonhole'],
    },
}, merge=salt['pillar.get']('dovecot:lookup')) %}
